/* ! Base style */

@media screen and (max-width: 768px) {
  .big-text {font-size: 30px; line-height: 30px;}
  .med-text {font-size: 30px;}
  .normal-text {font-size: 25px;}
  .small-text {font-size: 15px;}
  .intro-text {text-transform: uppercase; font-size: 22px; font-weight: 700;}
  b {font-size: 15px; font-weight: 600;}
  i {font-size: 15px; font-style: italic; font-weight: 600;}

/* ! Header */

.gradient{height:100px;}

  .menu {
    position: absolute;
    top:0;
    right:-100%;
    background: #000;
    height: 100vh;
    padding-top: 80px;
    display: block;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }

  .menu li img {display: none;}
  .menu li {
    display: block;
    line-height: 50px;
    padding-left: 30px;
  }


 .menu--open{right:0%;}

  .menuicon {
    display:block;
    position: absolute;
    top: 40px;
    right:30px;
  }


/* ! poster */

.poster {
  background: linear-gradient(0deg, rgba(0,0,0,.1), rgba(0,0,0, 0.6)),
   url('IMMAGINI E VIDEO/PROGETTO3/copertina_mobile.png') no-repeat center center;
  background-size: cover;
}
  .poster__content {
    padding-left:30px;
  }

  .poster__content h1 {
    padding-top:10px;
  }

/* ! Carousel */
.carousel {padding-left:30px;padding-right:30px;padding-top: 30px; padding-bottom: 50px;}
.carousel h2,
.carousel p  { padding-left: 0px; padding-right:0px; color:#fff;}
.carousel p a{height: 33px; width:33px;}


.carousel-cell {
height:310px;
width: 310px;
margin-right: 40px;
}

.carousel-cell__content
{
height:310px;
width: 310px;
margin-right: 40px;
}



/* ! Boarderbox - reset padding degli elementi all'interno */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
