/* ! Base style */
body {font-family: 'Chivo Mono', monospace; font-size: 50px; color: #fff;background-color: #000;}

a {text-decoration: none; color:#fff; font-weight: 500;}

h1, h2, h4, h5, h6 p {color:#fff; padding-bottom: 30px;}

.big-text {font-size: 120px;}
.med-text {font-size: 75px;}
.small-text {font-size: 20px; font-weight: 400;}
.small-text2 {font-size: 20px; font-weight: 400;line-height: 100px; text-align: center; vertical-align: middle;}
.citazione1 {font-size: 20px; font-weight: 400; font-style: italic; line-height:25px;}
.citazione2 {font-size: 18px; font-weight: 200; font-style: italic;}


.intro-text {text-transform: uppercase; font-size: 40px; font-weight: 700;}


/* ! Header */

.gradient {z-index:2;width:100%; height:150px; background: linear-gradient(0deg, rgba(0,0,0,.0), rgba(0,0,0, 0.9));  position: fixed;
  top: 0; }
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
  display: flex;
  z-index: 3;
max-width: 1350px;
}

.menu {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.menu li {display: inline-block;}
.menu li a {color: #fff;display: block;}
.menu li img {margin-top: -20px;}

.menuicon {display: none;}


/* ! Hero */
.hero {
  position:relative;
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.hero:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top:0; left:0;
  background: linear-gradient(0deg, rgba(0,0,0,.0), rgba(0,0,0, 0.7)),
   url('IMMAGINI E VIDEO/VIDEOBACKGROUND.mp4') no-repeat center center;
  background-size: cover;
}

.hero__content {
  width: 100%;
  padding:50px;
  margin: 0 auto;
  max-width: 1350px;
  z-index: 1;
  position: relative;
}


#video-back {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#VIDEOBACKGROUND {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

/* ! Poster */
.poster {
  margin-top: 100px;
  background: #000;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.poster__img {width:40%;height: 100vh;}
.poster__img img  {object-fit: cover; width:100%; height: 100%;}

.poster__content {width:60%; padding: 90px 50px;}
.poster__content h3 {padding-bottom: 30px;}
.poster__content a  {margin-top: 20px;}


/* ! Carousel */
.carousel {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  }

.carousel h4,
.carousel p  { padding-left: 85px;}

.main-carousel {
  padding: 80px 0px;
  width: 100%;
}

.carousel-cell {
  height:340px;
  width: 340px;
  margin-right: 15px;
}

.carousel-cell__content {
  height:340px;
  width: 340px;
  margin-right: 15px;
}

.carousel-cell img {object-fit: cover; width:100%; height: 100%; border-radius: 50px;}

.carousel-cell__content:hover {transform: scale(1.1);}



.container h6 { padding-left: 25px;}
.footer {width:100%;
height: 100%;
padding-top: 30px;
padding-bottom: 30px;
background-color: #670bd3;}


/* ! Boarderbox - reset padding degli elementi all'interno */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
